services:
  service-a:
    build: ./services/service-a
    env_file:
      - ./services/service-a/.env
    ports:
      - "3001:3001"
    restart: unless-stopped
    deploy:
      resources:
        limits:
          cpus: '1'
          memory: 1G

  service-b:
    build: ./services/service-b
    env_file:
      - ./services/service-b/.env
    ports:
      - "3002:3002"
    restart: unless-stopped
    deploy:
      resources:
        limits:
          cpus: '1'
          memory: 1G

  service-c:
    build: ./services/service-c
    env_file:
      - ./services/service-c/.env
    ports:
      - "80:5173"
    depends_on:
      service-a:
        condition: service_healthy
      service-b:
        condition: service_healthy
    restart: unless-stopped
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 512M

